.friendList {
  max-width: 280px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px 15px;
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 5px;
  box-shadow: 0px 1px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px 1px rgb(0 0 0 / 6%),
    1px 4px 6px 1px rgb(0 0 0 / 16%);
}
.status {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.false {
  background-color: red;
}

.true {
  background-color: green;
}
